<html lang="en">
<head>
    <title> student interface </title>
</head>
    <body>
        <h1> Students </h1>
        <table>
            <tr>
                <th align="left">ID</th>
                <th align="left">First Name</th>
                <th align="left">Last Name</th>
                <th align="left">Email</th>
                <th align="left">Enrollment Date</th>
                <th>Actions</th>
            </tr>
            {% for s in students %}
            <tr>
                <td>{{ s.student_id }}</td>
                <td>{{ s.first_name }}</td>
                <td>{{ s.last_name }}</td>
                <td>{{ s.email }}</td>
                <td>{{ s.enrollment_date|date:"Y-m-d" }}</td>
                <td>
                    <form method="GET" action="/update/{{  s.student_id }}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Update</button>
                    </form>
                    <form method="POST" action="/delete/{{  s.student_id }}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">X</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No students found.</td>
            </tr>
            {% endfor %}
            <form method="POST" action="/add">
                {% csrf_token %}
                <tr>
                    <td></td>
                    <td><input type="text" name="first_name" placeholder="First Name" required></td>
                    <td><input type="text" name="last_name" placeholder="Last name" required></td>
                    <td><input type="text" name="email" placeholder="Email Address" required></td>
                    <td><input type="text" name="enrollment_date" placeholder="Enrollment Date" required></td>
                    <td><button type="submit">Add</button></td>
                </tr>
            </form>

        </table>
    </body>
</html>
